Repository finnboeger/sass-scss-converter: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

prettier:
  run: ./node_modules/.bin/prettier --check --loglevel warn {staged_files}

eslint:
  run: node --max-old-space-size=4096 ./node_modules/.bin/eslint --ext .ts --max-warnings 0 {staged_files}

switch to eslint
  .eslintrc.js
  .npmignore
  lefthook.yml
  package-lock.json
  package.json
  tslint.json
Due: none

add tests for inline comments (currently failing)
  tests/unit/convertSassToScss.spec.ts
  tests/unit/convertScssToSass.spec.ts
Due: prettier

run prettier on all files
  package.json
Due: none

run prettier on tests
  tests/unit/convertSassToScss.spec.ts
  tests/unit/convertScssToSass.spec.ts
Due: prettier

always run eslint, regardless of prettier result
  package.json
Due: none

fix eslint issues
  src/global.d.ts
  src/util/addSemicolon.ts
  src/util/convertSassToScss.ts
  src/util/convertScssToSass.ts
  src/util/fixIndentation.ts
  src/util/formatScss.ts
  src/util/interpolationHack.ts
  src/util/removeSemicolon.ts
  src/util/sassMixinDefinitionHack.ts
  src/util/sassMixinIncludeHack.ts
  src/util/traverseAst.ts
  tests/unit/convertSassToScss.spec.ts
Due: prettier, eslint

remove eslint disables
  .eslintrc.js
  src/util/addSemicolon.ts
  src/util/convertScssToSass.ts
  src/util/fixIndentation.ts
  src/util/removeSemicolon.ts
  src/util/sassMixinDefinitionHack.ts
  src/util/sassMixinIncludeHack.ts
  tests/unit/convertSassToScss.spec.ts
Due: prettier, eslint

add more tests for comments
  tests/unit/convertSassToScss.spec.ts
Due: prettier

fix semicolon positioning
  src/util/addSemicolon.ts
  src/util/singlelineCommentHack.ts
Due: prettier, eslint

fix inline comments behind block declarations
  src/util/convertSassToScss.ts
  src/util/singleLineCommentHack.ts
  src/util/singlelineCommentHack.ts
Due: prettier, eslint

prevent adding newline before comments
  src/util/fixIndentation.ts
Due: prettier, eslint

add all known node types
  src/global.d.ts
Due: prettier

add test breaking gonzales parser
  tests/unit/convertSassToScss.spec.ts
Due: prettier

test for sass modules with @use and namespace
  tests/unit/convertSassToScss.spec.ts
Due: prettier

add test for comment of first line of block and fix behaviour accordingly
  src/util/blockHack.ts
  src/util/convertSassToScss.ts
  src/util/singleLineCommentHack.ts
  tests/unit/convertSassToScss.spec.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: *.ts
  eslint: any of: src/*.ts, but not: \.d\.ts$
